<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Window-target" content="_top">
    <meta name="keywords" content="everyday,天天,故事,故事会">
    <meta name="description" content="大家一起来编故事，我编不下去了，你来接着编。I can't compile it, you come up with the story.">
    <meta name="author" content="cak,137863824@qq.com">
    <title>Document</title>
</head>
<body>
    <h1>你好</h1>
</body>
</html>